<html>
    <head>
        <title>Contacta con nosotros</title>
    </head>
    <body>
        <h1>Concataca a uno de nuestros mejores ingenieros</h1>
        <form action="/contacto/" method="POST">{% csrf_token %}
            <p>Asunto :<input type="text" name="asunto"> </p>
            <p>Email :<input type="text" name="email"> </p>
            <p>mensaje :<textarea type="text" name="mensaje" rows="15" cols="40"></textarea> </p>
            <input type="submit" value="enviar">
        </form>
    </body>
</html>